body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-weight: 100;
    position: absolute;
    background: #3F3F3F;
    color: #f5c415;
    font-family: 'Roboto', Courier, monospace;
    font-size: 24px;
    line-height: 1.6;
  }

* {
    font-family: 'Roboto', sans-serif;
  }

  
  a {
    font-size: 70px;
    padding: 20px;
    text-emphasis: ef;
    margin: 20px;
  }

  h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 32pt;
}

  a:hover {
    background-color: #f5c61c;
  }
  
  a:focus {
    background-color: #202020;
  }
  
  a:active{
    font-size: 70px;
    background-color: rgb(62, 62, 65);
    color: whitesmoke;
  }
